.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    max-width: 1110px;
    margin: auto;
  }
  .error-message {
    align-self: start;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 16px;
    color: #ff0b37;
  }
  .login-button {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #0b69ff;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .link12{
    width: 200px;
  }
  
  @media screen and (min-width: 992px) {
    .login-form-container {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  
  .login-website-logo-mobile-image {
    width: 165px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
  
  @media screen and (min-width: 992px) {
    .login-website-logo-mobile-image {
      display: none;
    }
  }
  
  .login-image {
    width: 278px;
  }
  
  @media screen and (min-width: 992px) {
    .login-image {
      width: 60%;
      max-width: 524px;
      flex-shrink: 1;
      margin-right: 20px;
    }
  }
  
  .login-website-logo-desktop-image {
    width: 85px;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 991px) {
    .login-website-logo-desktop-image {
      display: none;
    }
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 80%;
    max-width: 350px;
  }
  .para{
    margin-top: 5px;
    color: black;
    font-size: 15px;
  }
  
  
  @media screen and (min-width: 992px) {
    .form-container {
      width: 350px;
      flex-shrink: 0;
      box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
      padding: 64px 48px 64px 48px;
    }
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  
  .input-label {
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #475569;
  }
  
  .username-input-field {
    font-size: 14px;
    height: 40px;
    border: 1px solid #d7dfe9;
    background-color: #e2e8f0;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }
  
  .password-input-field {
    font-size: 14px;
    height: 40px;
    border: 1px solid #d7dfe9;
    background-color: #e2e8f0;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }
  
  .login-button {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #0b69ff;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .login-button1 {
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 18px;
    color: red;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    
   
    border-radius: 8px;
   
  }
  
  .login-button1:hover{
    text-decoration: underline;
  }
  
  .error-message {
    align-self: start;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 16px;
    color: #ff0b37;
  }
  